<p id="notice"></p>

<p>
  <H1><%= @user.username %></H1>
  <% if @user.ratings.empty? %>
 <p> Has made no ratings yet </p>
<% else %>
  <p>Has made <%=@user.ratings.count%> <%="rating".pluralize(@user.ratings.count)%>, average rating <%= round(@user.average_rating)%> </p>
<% end %>
</p>

<h2>ratings</h2>
<ul>
  <% @user.ratings.each do |rating| %>
    <li>
      <%= rating %>
      <% if @user == current_user %>
          <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
  <% end %>
</ul>

<p><strong>Favorite beer:</strong></p>
<%= @user.favorite_beer%>

<p><strong>Favorite style:</strong></p>
<%= @user.favorite_style%>

<p><strong>Favorite brewery:</strong></p>
<%= @user.favorite_brewery%>

<p><strong>Clubs:</strong></p>
<% @user.beer_clubs.each do |beer_club| %>
  <%= link_to beer_club.name, beer_club %>
<% end %>
</p>

<%= edit_and_destroy_buttons(@user) %>

<%= link_to 'Back', users_path %>
