<p id="notice"><%= notice %></p>

<h2>
  <%= @style.name %>
</h2>

<br>
<p>
  <%= @style.description %>
</p>

<strong> Beers </strong>
<p>
 <% @style.beers.each do |beer| %>
   <%= link_to beer.name, beer %>
 <% end %>
</p>

<%= link_to 'Edit', edit_style_path(@style) %> |
<%= link_to 'Back', styles_path %>
